<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay Fees</title>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1936562866322214"
     crossorigin="anonymous"></script>
</head>
<body>
    <h1>Pay Fees for {{ student.name }}</h1>
    
    <form method="POST">
        <label for="amount">Enter Amount:</label>
        <input type="number" name="amount" required>
        <button type="submit">Submit Payment Request</button>
    </form>

    <br>
    <a href="{{ url_for('students') }}">Back to Students</a>
</body>
</html>